PORT = 8000
MONGODB_URI =mongodb+srv://shirsathkalpesh2005:<Kalpesh:password>@kalpesh.gxgwc.mongodb.net
cors_ORIGIN =*
ACCESS_TOKEN_SECRET = CHAI-AUR-CODE
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET =CHAI-AUR-CODE
REFRESH-TOKEN-EXPIRY = 10d

CLOUDINARY_CLOUD_NAME = 'dn0untekq';
CLOUDINARY_CLOUD_KEY = '774566732788654';
CLOUDINARY_API_SECRET = 'wu4nmcv06xymxQSShJNhL-y5lD8';